body{
	background-color: black;
	text-align: center;
	font-family: serif;  	

}

.heading{
	margin-bottom: 30px;
	margin-top: 50px;
	color: #ddd;
}

.img-wrapper {
	padding: 10px 20px;
	text-align: center;
}

.img {
	max-width: 100%;
	height: auto;
}